.rockets {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  &__link {
    text-decoration: none;
    transition: transform 400ms;
    &--active {
      transform: scale(1.1);
    }
  }
}
