@for $i from 1 through 25 {
  @keyframes round#{$i} {
    0% {transform: rotateZ(($i * 14.4) + deg);}
    100% {transform: rotateZ((360 + ($i * 14.4)) + deg);}
  }
}

.copyright {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 0 auto;
  transform: translateX(50%);
  &__letter {
    font: 26px Monaco, MonoSpace;
    height: 200px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    color: #3723a9;
    @for $i from 1 through 25 {
      &--#{$i} {
        transform: rotate(($i * 14.4) + deg);
        animation: round#{$i} 10s linear infinite;
      }
    }
  }
}

/* responsive */
@import 'copyright-responsive';
