@media screen and (max-width: 768px) {
  .launches {
    &__form {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
    &__label {
      width: 100%;
    }
    &__submit {
      width: 100%;
      padding: 20px;
    }
    &__link {
      width: calc(100% / 2 - 20px);
    }
  }
}

@media screen and (max-width: 480px) {
  .launches {
    &__link {
      width: 100%;
      margin-right: 0;
    }
  }
}
